{% extends "core/base.html" %}
{% block heading %}Dashboard: <a href="{% url 'core.views.profile' lyfeuser.username %}">{{ lyfeuser.username }}</a> {% endblock %}
{% block script %}
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>
{% endblock %}

{% block content %}
{% load extras %}
    <h3>NAVIGATION</h3>
    <ul>
    <li><a href = "{% url 'core.views.avatar' %}">Change avatar</a></li>
    <li><a href = "{% url 'core.views.rewards' %}">Rewards</a></li>
    </ul>
    {% if friend_requests %}
        <h3>FRIEND REQUESTS</h3>
        
        {% for request in friend_requests %}
        {{ request.requester_id }}<br>
        <a href="{% url 'core.views.addfriend' request.requester_id %}">Add Friend</a> | Deny
        {% endfor %}
    {% endif %}
    
    <h3>PROFILE INFO</h3>
    <ul>
    <li>Points: {{ lyfeuser.cur_points }} / {{ lyfeuser.total_points }}</li>
    <li>Last active date? {{ lyfeuser.last_active_date }}</li>
    <li>Last Friend Points Given: {{ lyfeuser.last_fp_given }}</li>
    <li>Avatar: <br>
    <img src="{{ lyfeuser.avatar.url }}" /></li>
    </ul>
    <h3>ACTIVE GOAL OVERVIEW</h3>
    <ul>
    {% for goalgroup, groupgoals in activegoalitems %}
        <li>{{ goalgroup }}
        <ul>
            {% for goal, goalupdates in groupgoals %}
                {% if goal.status = 0 %}
                <li><span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
               
               <a href="javascript:toggleDiv('update_{{goal.pk}}');">+ Submit Progress Update</a>
                <div style="display: none;" id = "update_{{goal.pk}}">
                    <form method="post" action="{% url 'core.views.post_update' goal.pk %}">
                    {% csrf_token %}
                    <p>
                    {{ updateform.content }} <br>
                    {{ updateform.completion }} Goal Complete? 
                    </p>
                    <input type="submit" value="Submit Update"/>
                    </form>
                </div>
                
                <br>
                Base Points: {{ goal.base_points }} | Friend Points: {{ goal.friend_points }} | Time Points: {{ goal.time_points }}<br>
                Start Date: {{ goal.start_date }} | Completion Date: {{ goal.completion_date }}
           
                {% if goalupdates|length > 0 %}
                    <br>
                    <a href="javascript:toggleDiv('view_updates_{{goal.pk}}');">+ Show Progress Updates ({{goalupdates|length}})</a>
                    
                    <div style="display: none;" id = "view_updates_{{goal.pk}}">
                        <ul>{% for goalupdate, comments in goalupdates %}
                            {{ goalupdate.timestamp }} {{ lyfeuser.username }} {% if goalupdate.completion %}completed goal: {% else %}posted update: {% endif %}{{ goalupdate.content }}<br>
                              
                            <a href="javascript:toggleDiv('add_goalcomment_{{goalupdate.pk}}');">+ Show Comments ({{comments|length}})</a>
                            <br>
                            <div style="display: none;" id = "add_goalcomment_{{goalupdate.pk}}">
                                <ul>
                                {% for comment in comments %}
                                    {{ comment.timestamp }} | <b>{{ comment.creator_uid }}</b> commented: {{ comment.content }}<br>
                                {% endfor %}
                                
                                {% if user.is_authenticated %}    
                                <form method="post" action="{% url 'core.views.add_comment' goalupdate.pk %}">
                                {% csrf_token %}
                                <p>
                                    <img src = "{{ lyfeuser| user_avatar_url}}" height = "50px"> {{ commentForm.content }}
                                </p>
                                </form>
                                {% endif %}
                                </ul>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    
    <h3>GOAL MANAGEMENT</h3>
    <ul>
    {% for goalgroup, groupgoals in activegoalitems %}
        <li>{{ goalgroup }}
        <ul>
            {% for goal, updates in groupgoals %}
                {% if goal.order_num == 0 and goal.status == 0 %}
                <a href = "{% url 'core.views.delete_goalgroup' goalgroup.pk %}"><i>Delete Entire Goal Category</i></a><br>
                <!-- are you sure you want to delete this category? -->
                {% endif %}
                <li>
                <span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
                
                {% if goal.status == -1 %}
                 | <a href = "{% url 'core.views.delete_goal' goal.pk %}">Delete Goal</a>
                 <!-- are you sure you want to delete this goal? -->
                {% endif %}
                
                <br>
                {% if goal.status == -1 %} <a href = "{% url 'core.views.flip_goals' goal.pk goal.order_num|add:'-1' %}">MOVE UP</a> | {% endif %} {% if goal.status != 1 %}<a href = "{% url 'core.views.flip_goals' goal.pk goal.order_num|add:'1' %}">MOVE DOWN</a><br>{% endif %}
                </li>
            {% endfor %}
            <a href="javascript:toggleDiv('add_actionitem_{{goalgroup.pk}}{{goal.pk}}');">+ Add new goal</a>
            <div style="display: none;" id = "add_actionitem_{{goalgroup.pk}}{{goal.pk}}">
                <form method="post" action="{% url 'core.views.add_actionitem' goalgroup.pk %}">
                {% csrf_token %}
                <p>
                    Description: {{ actionitem_form.name }}<br>
                    Difficulty: {{ actionitem_form.difficulty }} 
                </p>
                <input type="submit" value="Add Goal"/>
                </form>
            </div>
        </ul>
        </li>
        {% endfor %}
        <a href="javascript:toggleDiv('add_goal');">+ Add Goal Category</a>
        <div style="display: none;" id = "add_goal">
            <form method="post" action="{% url 'core.views.add_goal' %}">
            {% csrf_token %}
            <p>
                {{ goal_groupform }}
                <ul>
                   {{ goal_formset }}
                </ul>
            </p>
            <input type="submit" value="Add Goal Category"/>
            </form>
        </div>
        <br><br>
        {% if inactivegoalitems %}
        <a href="javascript:toggleDiv('inactive_goals');">+ Show Inactive Goals</a>
        <div style="display: none;" id = "inactive_goals">
        
        {% for goalgroup, groupgoals in inactivegoalitems %}
        <li>{{ goalgroup }}
        <ul>
            {% for goal, goalupdates in groupgoals %}
                <li><span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
                
                <br>
                Base Points: {{ goal.base_points }} | Friend Points: {{ goal.friend_points }} | Time Points: {{ goal.time_points }}<br>
                Start Date: {{ goal.start_date }} | Completion Date: {{ goal.completion_date }}
                {% if goalupdates|length > 0 %}
                <br>
                    <a href="javascript:toggleDiv('view_updates_{{goal.pk}}');">+ Show Progress Updates ({{goalupdates|length}})</a>
                    
                    <div style="display: none;" id = "view_updates_{{goal.pk}}">
                        <ul>{% for goalupdate, comments in goalupdates %}
                            {{ goalupdate.timestamp }} {{ lyfeuser.username }} {% if goalupdate.completion %}completed goal: {% else %}posted update: {% endif %}{{ goalupdate.content }}<br>
                              
                            <a href="javascript:toggleDiv('add_goalcomment_{{goalupdate.pk}}');">+ Show Comments ({{comments|length}})</a><br>
                            <div style="display: none;" id = "add_goalcomment_{{goalupdate.pk}}">
                                <ul>
                                {% for comment in comments %}
                                    {{ comment.timestamp }} | <b>{{ comment.creator_uid }}</b> commented: {{ comment.content }}<br>
                                {% endfor %}
                                
                                {% if user.is_authenticated %}    
                                <form method="post" action="{% url 'core.views.add_comment' goalupdate.pk %}">
                                {% csrf_token %}
                                <p>
                                    <img src = "{{ lyfeuser| user_avatar_url}}" height = "50px"> {{ commentForm.content }}
                                </p>
                                </form>
                                {% endif %}
                                </ul>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                </li>
            {% endfor %}
         </li>
            <a href="javascript:toggleDiv('add_actionitem_{{goalgroup.pk}}{{goal.pk}}');">+ Add new goal</a>
            <div style="display: none;" id = "add_actionitem_{{goalgroup.pk}}{{goal.pk}}">
                <form method="post" action="{% url 'core.views.add_actionitem' goalgroup.pk %}">
                {% csrf_token %}
                <p>
                    Description: {{ actionitem_form.name }}<br>
                    Difficulty: {{ actionitem_form.difficulty }} 
                </p>
                <input type="submit" value="Add Goal"/>
                </form>
            </div>
        </ul>
        </li>
        {% endfor %}
        </div>
        {% endif %}
    </ul>
    
    <h3>NEWSFEED</h3>
    <h5>FRIENDS</h5>
    {% if friends %}
        {% for friend in friends %}
            <a href = "{% url 'core.views.profile' friend.recipient_id %}"><img height = "50px" src = "{{friend.recipient_id|user_avatar_url}}"></a>
        {% endfor %}
        {% else %}
        No friends :(
    {% endif %}
    <br><br>
    <ul>
        {% for update, comments in newsfeed %}
            <li> {{ update.user_id }} {% if update.completion %} completed {% else %} posted an update to {% endif %} goal <b>{{ update.goal_id }}</b> in category <i>{{ update.goal_id.goal_id }}</i> | {{ update.timestamp }}<br>
            <ul>{{ update.content }}<br>
            
            <a href="javascript:toggleDiv('add_comment_{{update.pk}}');">+ Show Comments ({{comments|length}})</a>
            
            <div style="display: none;" id = "add_comment_{{update.pk}}">
                <ul>{% for comment in comments %}
                    {{ comment.timestamp }} | <b>{{ comment.creator_uid }}</b> commented: {{ comment.content }}<br>
                {% endfor %}
                <form method="post" action="{% url 'core.views.add_comment' update.pk %}">
                {% csrf_token %}
                <p>
                    <img src = "{{ lyfeuser| user_avatar_url}}" height = "50px"> {{ commentForm.content }}
                </p>
                </form>
                </ul>
            </div>
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
