{% extends "core/base.html" %}
{% block heading %}All Users{% endblock %}
{% block script %}
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>
{% endblock %}

{% block content %}
{% load extras %}
    <h3>NAVIGATION</h3>
    <ul>
    <li><a href="{% url 'core.views.profile' lyfeuser.username %}">Profile</a></li>
    <li><a href = "{% url 'core.views.avatar' %}">Change avatar</a></li>
    </ul>
    {% if friend_requests %}
        <h3>FRIEND REQUESTS</h3>
        
        {% for request in friend_requests %}
        {{ request.requester_id }}<br>
        <a href="{% url 'core.views.addfriend' request.requester_id %}">Add Friend</a> | Deny
        {% endfor %}
    {% endif %}
    
    <h3>PROFILE INFO</h3>
    <ul>
    <li>Points: {{ lyfeuser.cur_points }} / {{ lyfeuser.total_points }}</li>
    <li>Last active date? {{ lyfeuser.last_active_date }}</li>
    <li>Last Friend Points Given: {{ lyfeuser.last_fp_given }}</li>
    <li>Avatar: <br>
    <img src="{{ lyfeuser.avatar.url }}" /></li>
    </ul>
    
    <h3>GOALS</h3>
    <ul>
    {% for goalgroup, groupgoals in goals.items %}
        <li>{{ goalgroup }}
        <ul>
            {% for goal in groupgoals %}
                <li><span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
                
                {% if goal.status == 0 %}
                    <a href="javascript:toggleDiv('update_{{goal.pk}}');">+ Submit Progress Update</a>
                    <div style="display: none;" id = "update_{{goal.pk}}">
                        <form method="post" action="{% url 'core.views.post_update' goal.pk %}">
                        {% csrf_token %}
                        <p>
                        {{ updateform }}
                        </p>
                        <input type="submit" value="Submit Update"/>
                        </form>
                    </div>
                {% endif %}
                
                <br>
                Base Points: {{ goal.base_points }} | Friend Points: {{ goal.friend_points }} | Time Points: {{ goal.time_points }}<br>
                Start Date: {{ goal.start_date }} | Completion Date: {{ goal.completion_date }}
                <p>+Add new action item (TODO: link with goalgroup id) </p>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    <a href="javascript:toggleDiv('add_goal');">+ Add Goal Category</a>
        <div style="display: none;" id = "add_goal">
            <form method="post" action="{% url 'core.views.add_goal' %}">
            {% csrf_token %}
            <p>
                {{ goal_groupform }}
                <ul>
                   {{ goal_formset }}
                </ul>
            </p>
            <input type="submit" value="Submit Update"/>
            </form>
        </div>
    </ul>
    
    <h3>NEWSFEED</h3>
    <h5>FRIENDS</h5>
    {% if friends %}
        {% for friend in friends %}
            <a href = "{% url 'core.views.profile' friend.recipient_id %}"><img src = "{{friend.recipient_id|user_avatar_url}}"></a>
        {% endfor %}
        {% else %}
        No friends :(
    {% endif %}
    <br><br>
    <ul>
        {% for update in newsfeed %}
            <li> {{ update.user_id }} posted an update to goal <b>{{ update.goal_id }}</b> in category <i>{{ update.goal_id.goal_id }}</i> | {{ update.timestamp }}<br>
            {{ update.content }}
            <br>
        {% endfor %}
    </ul>
{% endblock %}
