{% extends "core/base.html" %}

{% block heading %}Lyfe User Information: {{ lyfeuser.username }}{% endblock %}

{% block content %}

{% if addfriend %}
<a href="{% url 'core.views.addfriend' lyfeuser.username %}">+ Add Friend/Follow</a>
{% elif not currentuser %}
<a href="{% url 'core.views.unfriend' lyfeuser.username %}">- Unfriend/Unfollow</a>
{% elif lyfeuser.username != user.username %}
<!-- doesn't work right now because authentication doesn't work, use currentuser as workaround -->
{% endif %}

<br><br>
Point counts

    <h3>PROFILE INFORMATION</h3>
    <ul>
    <li>Points: {{ lyfeuser.cur_points }} / {{ lyfeuser.total_points }}</li>
    <li>Last active date? {{ lyfeuser.last_active_date }}</li>
    <li>Last Friend Points Given: {{ lyfeuser.last_fp_given }}</li>
    <li>Avatar: <br>
    <img src="{{ lyfeuser.avatar.url }}" /></li>
    </ul>
    
    <h3>GOALS</h3>
    <ul>
    {% for goalgroup, groupgoals in goals.items %}
        <li>{{ goalgroup }}
        <ul>
            {% for goal in groupgoals %}
                <li><span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
                
                {% if goal.status == 0 %}
                    | +<b>(TODO: Link to this goal's progress updates?)</b> | +<b>(TODO: Add Friend Points if datetime.now() - user.last_fp_given is less than 2 hours or something)</b>
                {% endif %}
                
                <br>
                Base Points: {{ goal.base_points }} | Friend Points: {{ goal.friend_points }} | Time Points: {{ goal.time_points }}<br>
                Start Date: {{ goal.start_date }} | Completion Date: {{ goal.completion_date }}
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
    
    <h3>NEWSFEED</h3>
    <ul>
        <b>TODO: Pass list of this person's updates filtered by relationship and permissions reverse ordered by timestamp</b>
    </ul>
    <br>
<br/>
<br/>
<a href="{% url 'core.views.dashboard' %}">dashboard</a>
</p>

{% endblock %}
