{% extends "core/base.html" %}

{% block heading %}Lyfe User Information: {{ lyfeuser.username }}{% endblock %}
{% block script %}
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>
{% endblock %}
{% block content %}
{% load extras %}

    <img height = "100px" src="{{ lyfeuser.avatar.url }}" /><br>
    Points: {{ lyfeuser.cur_points }} / {{ lyfeuser.total_points }}<br><br>
    
{% if addfriend %}
<a href="{% url 'core.views.addfriend' lyfeuser.username %}">+ Add Friend/Follow</a>
{% elif lyfeuser.username != user.username and user.is_authenticated %}
<a href="{% url 'core.views.unfriend' lyfeuser.username %}">- Unfriend/Unfollow</a>
{% endif %}

    <h3>FRIENDS</h3>
    {% if friends %}
        {% for friend in friends %}
            <a href = "{% url 'core.views.profile' friend.recipient_id %}"><img height = "50px" src = "{{friend.recipient_id|user_avatar_url}}"></a>
        {% endfor %}
        {% else %}
        No friends :(
    {% endif %}
    <br>
    <h3>GOALS</h3>
    <ul>
    {% for goalgroup, groupgoals, sharegroups in activegoalitems %}
        <li>{{ goalgroup }}
        <ul>
            {% for goal, goalupdates in groupgoals %}
                <li><span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
                
                {% if goal.status == 0 %}
                    {% if friendpoints %} | <a href = "{% url 'core.views.add_friendpoint' goal.pk %}">+ Add Friend Point</a>{% endif %}
                {% endif %}
                
                <br>
                Base Points: {{ goal.base_points }} | Friend Points: {{ goal.friend_points }} | Time Points: {{ goal.time_points }}<br>
                Start Date: {{ goal.start_date }} | Completion Date: {{ goal.completion_date }}
           
                {% if goal.status != -1 and goalupdates|length > 0 %}
                    <br>
                    <a href="javascript:toggleDiv('view_updates_{{goal.pk}}');">+ Show Progress Updates ({{goalupdates|length}})</a>
                    
                    <div style="display: none;" id = "view_updates_{{goal.pk}}">
                        <ul>{% for goalupdate, comments in goalupdates %}
                            {{ goalupdate.timestamp }} {{ lyfeuser.username }} {% if goalupdate.completion %}completed goal: {% else %}posted update: {% endif %}{{ goalupdate.content }}<br>
                              
                            <a href="javascript:toggleDiv('add_goalcomment_{{goalupdate.pk}}');">{% if comments|length > 0 %}+ Show Comments ({{comments|length}}){% else %}+ Comment {% endif %}</a>
                            <br>
                            <div style="display: none;" id = "add_goalcomment_{{goalupdate.pk}}">
                                <ul>
                                {% for comment in comments %}
                                    {{ comment.timestamp }} | <b>{{ comment.creator_uid }}</b> commented: {{ comment.content }}<br>
                                {% endfor %}
                                
                                {% if user.is_authenticated %}    
                                <form method="post" action="{% url 'core.views.add_comment' goalupdate.pk %}">
                                {% csrf_token %}
                                <p>
                                    <img src = "{{ lyfeuser| user_avatar_url}}" height = "50px"> {{ commentForm.content }}
                                </p>
                                </form>
                                {% endif %}
                                </ul>
                            </div>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    
    {% if inactivegoalitems %}
    <a href="javascript:toggleDiv('inactive_goals');">+ Show Inactive Goals</a>
    <div style="display: none;" id = "inactive_goals">
    
    {% for goalgroup, groupgoals, sharegroups in inactivegoalitems %}
    <li>{{ goalgroup }}
    <ul>
        {% for goal, goalupdates in groupgoals %}
            <span class="{{goal.get_status_display}}"><b>{{ goal }}</b></span> ({{goal.get_status_display}})
            
            <br>
            Base Points: {{ goal.base_points }} | Friend Points: {{ goal.friend_points }} | Time Points: {{ goal.time_points }}<br>
            Start Date: {{ goal.start_date }} | Completion Date: {{ goal.completion_date }}
            <br>
             {% if goalupdates|length > 0 %}
             <a href="javascript:toggleDiv('view_updates_{{goal.pk}}');">+ Show Progress Updates ({{goalupdates|length}})</a>
                <br>
                <div style="display: none;" id = "view_updates_{{goal.pk}}">
                    <ul>{% for goalupdate, comments in goalupdates %}
                        {{ goalupdate.timestamp }} {{ lyfeuser.username }} {% if goalupdate.completion %}completed goal: {% else %}posted update: {% endif %}{{ goalupdate.content }}<br>
                          
                        <a href="javascript:toggleDiv('add_goalcomment_{{goalupdate.pk}}');">{% if comments|length > 0 %}+ Show Comments ({{comments|length}}){% else %}+ Comment {% endif %}</a>
                        <br>
                        <div style="display: none;" id = "add_goalcomment_{{goalupdate.pk}}">
                            <ul>
                            {% for comment in comments %}
                                {{ comment.timestamp }} | <b>{{ comment.creator_uid }}</b> commented: {{ comment.content }}<br>
                            {% endfor %}
                            
                            {% if user.is_authenticated %}    
                            <form method="post" action="{% url 'core.views.add_comment' goalupdate.pk %}">
                            {% csrf_token %}
                            <p>
                                <img src = "{{ lyfeuser| user_avatar_url}}" height = "50px"> {{ commentForm.content }}
                            </p>
                            </form>
                            {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
    </div>
    {% endif %}
    </ul>

    <h3>GROUPS</h3>
    <ul>
    {% for group in groups %}
        <li><a href = "{% url 'core.views.group' group.pk %}"> {{ group.name }}</a></li>
    {% endfor %}
    </ul>
    
    <h3>NEWSFEED</h3>
    
    <ul>
        {% for update, comments in newsfeed %}
            {% if update.public %}
            <li>
            {% if update.goal_id %}{{ update.user_id }}{% if update.completion %} completed {% else %} posted an update to {% endif %} goal <b>{{ update.goal_id }}</b> in category <i>{{ update.goal_id.goal_id }}</i> | {{ update.timestamp }}<br>
            <ul>{{ update.content }}<br>{% else %} {{ update.content }}<ul> {% endif %}
            
            <a href="javascript:toggleDiv('add_comment_{{update.pk}}');">{% if comments|length > 0 %}+ Show Comments ({{comments|length}}){% else %}+ Comment {% endif %}</a>
            
            <div style="display: none;" id = "add_comment_{{update.pk}}">
                <ul>
                {% for comment in comments %}
                    {{ comment.timestamp }} | <b>{{ comment.creator_uid }}</b> commented: {{ comment.content }}<br>
                {% endfor %}
                {% if user.is_authenticated and friendship == True %}    
                <form method="post" action="{% url 'core.views.add_comment' update.pk %}">
                {% csrf_token %}
                <p>
                    <img src = "{{ user.username | user_avatar_url}}" height = "50px"> {{ commentForm.content }}
                </p>
                </form>
                {% endif %}
                </ul>
            </div>
            </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
