body {
    color: black;
    background: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 60%;
}

#wrapper {
    width: 100%;
}

.active {
    color: orange;
}

.future {
    color: grey;
}

.completed {
    color: green;
}

